# This has been updated substantially from the source with the intent of integrating into a modern scispacy pipeline, including breaking changes to unused components. Will cause breaking changes to medspacy's Sentencizer & QuickUMLS components which are not intended to be used for this fork's use-case
# May cause breaking changes due to SpaCy version upgrade. 

spacy>=3.7 # original >=3.4 < 3.6 - Nonstarter with SciSpaCy & LLM enabled SpaCy.
# PyRuSH>=1.0.8 #forking this and updating to spacy 3.7
pysbd==0.3.4
jsonschema
# medspacy_quickumls==3.0
